#!/bin/bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

use flake
layout python_uv


# if ! test -f .env; then
#     echo "Descrypting credentials"
#     sops -d .encrypted.env > .env
# fi

# if ! test -f bundle.jks; then
#     echo "Descrypting bundle"
#     sops -d bundle.encrypted.jks > bundle.jks
# fi

# dotenv

# if [ ! -f ./.git/hooks/pre-commit ];
# then
#     pre-commit install
# fi
